
.page-counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #303036;
}

.counter-title {
  font-size: 6rem;
  color: #30BCED;
  font-family: 'Arial', sans-serif;
}

.counter-value {
  font-size: 10rem;
  color: #FAA916;
  font-family: 'Helvetica', sans-serif;
}